<div class="row">
    <div class="col-sm-3 padd0" >
        <div id="messageTitle" class="box" style="text-align: right;">יום:</div>
        <div class="box" style="min-height: 370px;padding-left:0px !important; padding-right:0px !important;">
            <div id="messageBox">
            <div class="col-xs-12 padd0">
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :שעת התחלה</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :שעת סיום</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :סוג שיור</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :שם מאמן</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 text-left"><button type="submit" class="btn btn-default bgSave btnWidth70">שמור</button></div>
                <div class="col-xs-4"></div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-3">
        <div class="text-center cW">
            <p><h1>לוח שיעורים</h1></p>
        </div>
        <div>
            <a href="#/addNewLesson" class="btn btn-susideccess mb-20">הוספת שיער חדש</a>
        </div>
        <div>
            <a class="btn btn-side mb-20" href="#/systemPanel">שיבוצי מערכת</a>
        </div>
        <div>
            <a class="btn btn-side mb-20" href="#/checkOutfit">בדיקת ציוד</a>
        </div>
    </div>
</div>
