<div class="row">
    <div class="col-xs-3 sidenav padd0" >
        <div id="messageTitle" class="box" style="text-align: right;">סוג אירוע:מרוץ תל אביב</div>
        <div class="box" style="min-height: 370px;padding-left:0px !important; padding-right:0px !important;">
            <div id="messageBox">
            <div class="col-xs-12 padd0">
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :שם איש קשר</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :טלפון איש קשר</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :מקום האירוע</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :מאמן מטעם מאסטרז</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :טלפון מאמן</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 paddLR2"><input type="text" class="form-control" ng-model="username"/></div>
                <div class="col-xs-4 paddLR2 text-right"> :ציוד נדרש</div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 text-left"><button type="submit" class="btn btn-default bgSave btnWidth70">הוסף</button></div>
                <div class="col-xs-4"></div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
    <div class="col-xs-3 sidenav bgSide">
        <div ng-include="'../Controllers/EventSide.html'"></div>
    </div>
</div>
