<div class="row">
    <div>
        <div class="row">
            <div class="col-xs-9">
                <div>search</div>
                <div>
                    <table class="table table-bordered" fixed-header>
                        <thead>
                            <tr>
                                <th>עדכן לאחרונה</th>
                                <th>התמחות</th>
                                <th>סוג שירות</th>
                                <th>שם</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
                                <td>Row {{item}} Col 1 </td><!--<button class="btn" ng-click="open()">Open Modal</button>-->
                                <td>Row {{item}} Col 2</td>
                                <td>Row {{item}} Col 3</td>
                                <td>Row {{item}} Col 4 </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Footer 1</td>
                                <td>Footer 2</td>
                                <td>Footer 3</td>
                                <td>Footer 4</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- The Modal -->
  <!--        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h4>Modal Dialog</h4>
            </div>
            <div class="modal-body">
                <p>Example paragraph with some text.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="ok()">Okay</button>
              <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
          </div>-->

            <div class="col-xs-3 sidenav bgSide" style="padding-right: 15px; height:350px;">
                <div ng-include="'../Controllers/ScreenSide.html'"></div>
            </div>
        </div>
    </div>
</div>
