<div class="row">
    <div class="col-xs-3 sidenav padd0">
        <div id="messageTitle" style="text-align: right;">היום</div>
        <div class="box" style="min-height: 300px;">
            <div id="messageBox">weqwewqeqwe</div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12 padd0">
                <div class="col-xs-12 box h260 padd0">
                    <div class="col-xs-12 ">Calendar </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 sidenav bgSide">
        <!--<div class="text-center cW">
            <p><h1>לוח זמנים</h1></p>
        </div>
        <div>
            <a href="#/halalimLeHaskara" class="btn btn-side mb-20">חללים להשכרה</a>
        </div>
        <div>
            <a class="btn btn-side mb-20" href="#/messages">הידעות</a>
        </div>-->
        <div ng-include="'../Controllers/ScreenSide.html'"></div>
    </div>
</div>

