<div class="row">
    <div class="col-xs-3 sidenav padd0">
        <div id="messageTitle" class="box" style="text-align: right;">22.03.2018 היום </div>
        <div class="box" style="min-height: 300px;">
            <div id="messageBox">weqwewqeqwe</div>
        </div>
    </div>
    <div class="col-sm-6">הידעות</div>
    <div class="col-xs-3 sidenav bgSide">
        <div class="text-center cW">
            <p><h1>הידעות</h1></p>
        </div>
        <div>
            <a href="#/editExistEvent" class="btn btn-side mb-20">עדקון אירוע קיים</a>
        </div>
        <div>
            <a class="btn btn-side mb-20" href="#/addNewEvent">הוספת אירוע חדש</a>
        </div>
    </div>
</div>
