<div class="row">
    <div class="col-xs-9">
        <div class="row">
            <div class="text-right" style="padding-right: 35px;">ריכוז יעדים</div>
        </div>
        <div class="row">
            <div class="col-xs-5 box h200 marginLR20 w240 h320">
                <div>מתמנים שבועי בחודש זהסך </div>
                <div>1111</div>
            </div>
            <div class="col-xs-5 box h200 marginLR20 w240 h320">
                <div>שיערים חדשים שנפתחו לפי אזורים בחודש זה</div>
                <div>333</div>
            </div>
            <div class="col-xs-5 box h200 marginLR20 w240 h320">
                <div>סך מאמנים חדשים לפי אזורים בחודש זה</div>
                <div>1111</div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 sidenav bgSide">
        <div ng-include="'../Controllers/ScreenSide.html'"></div>
    </div>
</div>
